{% extends 'base_email.html.twig' %}

{% block content %}
<h1>User Account Deletion Notification</h1>
<p>Hello Administrator,</p>
<p>The user {{ email }} has deleted their account from our platform. Here are some details:</p>
<ul>
    <li>Username: {{ email }}</li>
    <li>Number of files deleted: {{ fileCount }}</li>
</ul>
<p>If any further actions are required, please carry them out.</p>
<p>Best regards,</p>
<p>The [ArchiTech] Team</p>
{% endblock %}
