{% extends 'base_email.html.twig' %}

{% block content %}
<h1>Suppression de compte réussie</h1>
<p>Bonjour {{ email }},</p>
<p>Nous tenons à vous informer que votre compte sur notre plateforme a été supprimé avec succès. Tous vos fichiers ont également été supprimés.</p>
<p>Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>
<p>Merci de nous avoir fait confiance.</p>
<p>Cordialement,</p>
<p>L'équipe [ArchiTech]</p>
{% endblock %}
