{% extends 'base_email.html.twig' %}

{% block content %}
<h1>Successful Account Deletion</h1>
<p>Hello {{ email }},</p>
<p>We would like to inform you that your account on our platform has been successfully deleted. All your files have also been removed.</p>
<p>If you have any questions or concerns, please do not hesitate to contact us.</p>
<p>Thank you for trusting us.</p>
<p>Best regards,</p>
<p>The [ArchiTech] Team</p>
{% endblock %}
